# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
natachajay.dk/kea/2-semester/06-brugercentreret_design/
natachajay.dk/kea/2-semester/6-brugercentreret_design/
