/* General Game */

body {
	margin: 0;
	overflow: hidden;
}

#screen {
	display: inline-flex;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

#menu_background {
    background-image: url("https://www.natachajay.dk/media/kea_media/spil/titlescreen.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

#settings {
	background-color: rgba(0,0,0,0.85);
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

#game_background {
	background-image: url("https://www.natachajay.dk/media/kea_media/spil/scene.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#gameover {
	background-image: url("https://www.natachajay.dk/media/kea_media/spil/gameover.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
}

	.gameover_banner {
		position: fixed;
		width: 100%;
		top: 10vh;
		display: flex;
		justify-content: center;
		color: #FEFEFE;
	}

#levelcomplete {
	background-image: url("https://www.natachajay.dk/media/kea_media/spil/gamecomplete.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
}

	.levelcomplete_banner {
		position: fixed;
		width: 100%;
		top: 10vh;
		display: flex;
		justify-content: center;
		color: #FEFEFE;
	}

/* UI */

#start {
	position: fixed;
	width: 100%;
	bottom: 10vh;
	display: flex;
	justify-content: center;
}

	.start_sprite {
		background-color: #F2905D;
		color: #FEFEFE;
		min-width: 15vw;
		border: solid 5px #FEFEFE;
		border-radius: 25px 25px;
		text-align: center;
		z-index: 0;
		cursor: pointer;
	}

#logo {
	background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/kosmo_kadet_logo.svg");
	background-repeat: no-repeat;
	width: 15vw;
	height: 15vw;
	z-index: 0;
	position: fixed;
	bottom: 10vh;
	margin: 0 0 0 5%;
}

#gameover_play_again {
	display: flex;
	justify-content: center;
}

	.gameover_play_again_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/ui_play_again.svg");
		background-repeat: no-repeat;
		width: 15vw;
		height: 15vw;
		z-index: 0;
		position: fixed;
		bottom: 5vh;
		margin: auto;
		cursor: pointer;
	}

#levelcomplete_play_again {
	display: flex;
	justify-content: center;
}

	.levelcomplete_play_again_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/ui_play_again.svg");
		background-repeat: no-repeat;
		width: 15vw;
		height: 15vw;
		z-index: 0;
		position: fixed;
		bottom: 5vh;
		margin: auto;
		cursor: pointer;
	}

/* Settings UI */

#settings_button {
	background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/ui_round_button.svg");
	background-repeat: no-repeat;
	width: 15vw;
	height: 15vw;
	z-index: 0;
	position: fixed;
	bottom: 10vh;
	margin: 0 0 0 85%;
	cursor: pointer;
}

#mute_effects {
	background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/ui_mute_button.svg");
	background-repeat: no-repeat;
	width: 15vw;
	height: 15vw;
	z-index: 0;
	position: fixed;
	bottom: 10vh;
	margin: auto;
	cursor: pointer;
}

	#unmute_effects {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/ui_unmute_button.svg");
		background-repeat: no-repeat;
		width: 15vw;
		height: 15vw;
		z-index: 0;
		position: fixed;
		bottom: 10vh;
		margin: auto;
		cursor: pointer;
	}

#mute_music {
	background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/ui_mute_button.svg");
	background-repeat: no-repeat;
	width: 15vw;
	height: 15vw;
	z-index: 0;
	position: fixed;
	bottom: 10vh;
	margin: auto;
	cursor: pointer;
}

	#unmute_music {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/ui_unmute_button.svg");
		background-repeat: no-repeat;
		width: 15vw;
		height: 15vw;
		z-index: 0;
		position: fixed;
		bottom: 10vh;
		margin: auto;
		cursor: pointer;
	}

#close {
	background-image: url("https://www.natachajay.dk/media/kea_media/spil/ui/ui_close_button.svg");
	background-repeat: no-repeat;
	width: 15vw;
	height: 15vw;
	z-index: 0;
	position: fixed;
	bottom: 10vh;
	margin: auto;
	cursor: pointer;
}

/* Fonts */

h1 {
    font-family: 'VT323', sans-serif;
    font-size: 3em;
}

h2 {
   	font-family: 'VT323', sans-serif;
    color: #F3915C;
}

h3 {
    font-family: 'VT323', sans-serif;
}

p {
	font-family: 'PT Sans', sans-serif;
	
}

/* Characters */

#igorina_front {
	position: absolute;
	bottom: 30vh;
	width: 100%;
}

	.igorina_front_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/figures/igorina_front.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 10vh;
		height: 20vh;
		margin: auto;
	}

#igorina_back {
	position: absolute;
	bottom: 30vh;
	width: 100%
}

	.igorina_back_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/figures/igorina_back.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 10vh;
		height: 20vh;
		margin: auto;
}

#igorina_dead {
	
}

	.igorina_dead_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/figures/igorina_dead.svg");

	}

#pinhead_front {
	position: absolute;
	top: 5vh;
	width: 100%;
}

	.pinhead_front_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/figures/pinhead_front.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 12vh;
		height: 24vh;
		margin: auto;
	}

#pinhead_back {
	position: absolute;
	top: 5vh;
	width: 100%;
}

	.pinhead_back_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/figures/pinhead_back.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 12vh;
		height: 24vh;
		margin: auto;
	}

#pinhead_dead {
	
}

	.pinhead_dead_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/figures/pinhead_dead.svg");

	}

/* Game elements */

#earth {
	position: absolute;
	bottom: -10vh;
	width: 100%;
}

	.earth_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/game_elements/earth.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 50vh;
		height: 50vh;
		margin: auto;
	}

#meteor_small {
	position: fixed;
	left: 10vw;
	top: -10vh;
}

	.meteor_small_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/game_elements/meteor.svg");
		background-repeat: no-repeat;
		width: 5vw;
		height: 5vw;
		z-index: 0;
	}

#meteor_large {
	position: fixed;
	left: 15vw;
	top: -10vh;
}

	.meteor_large_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/game_elements/meteor.svg");
		background-repeat: no-repeat;
		width: 8vw;
		height: 8vw;
		z-index: 0;
	}

#meteor_giant {
	position: fixed;
	left: 25vw;
	top: -10vh;
}

	.meteor_giant_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/game_elements/meteor.svg");
		background-repeat: no-repeat;
		width: 10vw;
		height: 10vw;
		z-index: 0;
	}

#gas_cloud_small {
	position: fixed;
	left: 35vw;
	top: -10vh;
}

	.gas_cloud_small_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/game_elements/gas_cloud.svg");
		background-repeat: no-repeat;
		width: 5vw;
		height: 5vw;
		z-index: 0;
	}

#gas_cloud_large {
	position: fixed;
	left: 40vw;
	top: -10vh;
}

	.gas_cloud_large_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/game_elements/gas_cloud.svg");
		background-repeat: no-repeat;
		width: 8vw;
		height: 8vw;
		z-index: 0;
	}

#sunburst {
	position: fixed;
	left: 45vw;
	top: -10vh;
}

	.sunburst_sprite {
		background-image: url("https://www.natachajay.dk/media/kea_media/spil/game_elements/sunburst.svg");
		background-repeat: no-repeat;
		width: 8vw;
		height: 8vw;
		z-index: 0;
	}

/* Animation */

.hide {
    visibility: hidden;
	z-index: -1;
}

.show {
    visibility: visible;
}

.blur {
    filter:blur(5px) brightness(75%);
}

/* Gameplay animation */

.fade_out {
    animation-name: fade_out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

    @keyframes fade_out {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

.fade_in {
    animation-name: fade_in;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
}

    @keyframes fade_in {
        100% {
            opacity: 0;
        }
        0% {
            opacity: 1;
        }
    }

.shake {
    animation-name: shake;
    animation-duration: 1.5s;
}

    @keyframes shake {
        0% {
            transform: rotate(0)
        }
        25% {
            transform: rotate(90)
        }
        50% {
            transform: rotate(0)
        }
        75% {
            transform: rotate(90)
        }
        100% {
            transform: rotate(0)
        }
    }

.sunburst_drop {
    animation-name: sunburst_drop;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: 10s;
	animation-duration: 25s;
}

    @keyframes sunburst_drop {
		0% {
			top: -10vh;
		}
		10% {
			top: 115vh;
		}
		100% {
			top: 115vh;
		}
    }

.attack_slow {
    animation-name: attack_slow;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 10s;
}

    @keyframes attack_slow {
		from {
			top: -10vh;
		}
		to {
			top: 115vh;
		}
    }

.attack_fast {
    animation-name: attack_fast;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 5s;
}

    @keyframes attack_fast {
		from {
			top: -10vh;
		}
		to {
			top: 115vh;
		}
    }

.attack_faster {
    animation-name: attack_faster;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 3s;
}

    @keyframes attack_faster {
		from {
			top: -10vh;
		}
		to {
			top: 115vh;
		}
    }

.drop {
	animation-name: drop;
	animation: drop 1.2s forwards;
}

	@keyframes drop {
	  0% {
		transform-origin: center;
		opacity: 1;
	  }
	  20% {
		transform: 
		  translate3d(0, 20px, 0)
		  rotate3d(0, 0, 1, -10deg);
		opacity: 1;
	  }
	  40%, 45% {
		transform: 
		  translate3d(0, -120px, 0)
		  rotate3d(0, 0, 1, 10deg);
		opacity: 1;
	  }
	  to {
		opacity: 0;
		transform: 
		  translate3d(0, 2000px, 0)
		  rotate3d(0, 0, 1, 10deg);
	  }
	}

.pulse {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

	@keyframes pulse {
	  0% {
		transform: scale(0.95);
	  }
	  100% {
		transform: scale(1);
	  }
	}