/* GENERAL */
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    margin: auto;
}

.hidden {
    display: none !important;
}

header {
    
}

footer {
    background-color: darkseagreen;
    width: 100%;
    height: 20vh;
    margin-top: 2vh;
}

#logo {
    height: calc(100vh /3);
 }

.hero_image {
    background-image: url(https://www.natachajay.dk/media/kea_media/nzawu/hero_image.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(1, 1, 1, 0.3);
    width: 100%;
    height: 100vh;
    text-align: center;
}

.top_menu_content_wrapper {
    display: flex;
    flex-flow: row;
    padding: 0 2.5vw;
    background-color: white;
}

    .top_menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: calc(100vh - 10vh);
    }

        .top_menu_content_wrapper > a {
            color: black;
            text-decoration: none;
            padding: 2.5vh 5vw;
        }

.top_menu_content_wrapper > a:hover {
    text-decoration: underline black;
}

.filtering_menu {
    justify-content: center;
}

/* ALL CTA */

#frontpage_content_wrapper, .article_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .frontpage_box, .article_cta_box {
        position: relative;
        width: 75vw;
        height: 50vh;
        margin: 2vh 0 2vh 0;
        background-size: cover;
    }

        .frontpage_box > h1, .article_cta_box > h1 {
            padding-top: 22.5vh;
            text-align: center;
            color: white;
            text-shadow: 2px 2px 3px black;
        }

    .overlay {
        z-index: 5;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: .5s ease;
    }

    .frontpage_overlay {
        background-color: #49454D;
    }

    .article_overlay {
        background-color: peachpuff;
    }

        *:hover > .overlay {
            opacity: 0.5;
        }

/* COLLECTION */

.filtering_menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

    .filter_parent {
        padding: 0 2vw;
    }

        .filter_children {     
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

            .filtering_menu_item {
                padding: 0 2vw;
            }

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .product_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 25%;
    }

/* SINGLEVIEW */

.close_button {
    position: fixed;
    right: 2rem;
    padding-right: 2rem;
}

.singleview_sectionwrapper {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(1, 1, 1, 0.8);
    background-size: cover;
}

.singleview_product_box {
    width: 25vw;
}

    .singleview_img_sectionwrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .singleview_img_section {
            width: 25vw;
            }

            .singleview_img_section img {
                display: none;
            }

            .singleview_img_section img.shown {
                display: initial;
            }


/* MEDIA QUERIES */

/* front page */

/* collection */

/* our world */