/* GENERAL */
h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    color: #2A2B2D;
}

img {
    width: 100%;
}

body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: #2A2B2D;
    user-select: none;
}

.hidden {
    display: none !important;
}

.logo_container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    align-items: center;
    justify-content: center;
}

    .logo {
        height: calc(100vh /10);
     }


.hero_image {
    background-image: url(https://www.natachajay.dk/media/kea_media/nzawu/hero_image.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(1, 1, 1, 0.3);
    width: 100%;
    height: 100vh;
    text-align: center;
}

.top_menu_content_wrapper {
    display: flex;
    flex-flow: row;
    padding: 0 2.5vw;
    background-color: white;
}

    .top_menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: calc(100vh - 10vh);
    }

        .top_menu_content_wrapper > a {
            color: black;
            text-decoration: none;
            padding: 2.5vh 5vw;
        }

.top_menu_content_wrapper > a:hover {
    text-decoration: underline black;
}

nav > a, .buttons {
    user-select: none;
    font-family: 'Roboto Slab', serif;
    color: #2A2B2D;
}

button {
    font-family: 'Open Sans', sans-serif;
}

/* ALL CTA (collection + our world) */

#frontpage_content_wrapper, .article_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .frontpage_box, .article_cta_box {
        position: relative;
        width: 75vw;
        height: 50vh;
        margin: 2vh 0 2vh 0;
        background-size: cover;
        box-shadow: 3px 6px 9px -3px rgb(42, 43, 45, 0.25);
    }

        .frontpage_box > h1, .article_cta_box > h1 {
            padding-top: 22.5vh;
            text-align: center;
            color: white;
            text-shadow: 2px 2px 3px #2A2B2D;
        }

    .overlay {
        z-index: 5;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: .5s ease;
    }

        .overlay > h1 {
            color: #F4F3F1;
        }

        .overlay:hover {
            cursor: pointer;
        }

    .frontpage_overlay {
        background-color: #C0C1D3;
    }

    .article_overlay {
        background-color: #EDE3E4;
    }

        *:hover > .overlay {
            opacity: 0.5;
        }

/* COLLECTION */

/* menu */

.filtering_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}

    .filter_parent:hover {
        text-decoration: underline black;
    }

    .filter_parent:active {
        font-weight: 800;
    }

        .filter_children {     
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

            .filtering_menu_item {
                padding: 0 2vw;
            }

            .filtering_menu_item:hover {
                text-decoration: underline black;
            }

            .filtering_menu_item:active {
                font-weight: 800;
            }½

/* content */

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .product_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 25%;
    }

        .product_box:hover {
            cursor: pointer;
        }

/* SINGLEVIEW */

.close_button {
    position: fixed;
    right: 2rem;
    padding-right: 2rem;
}

#display_previous, #display_next {
    margin: 25vh 2.5vw;
}

.singleview_sectionwrapper {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(1, 1, 1, 0.9);
    background-size: cover;
}

.singleview_product_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 75vw;
    color: white;
    text-align: center;
}

.singleview_product_box > h3 {
    color: white;
}

    .singleview_img_sectionwrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .singleview_img_section {
            width: 55vw;
            overflow: hidden;
        }

            .singleview_img_section img {
                display: none;
            }

            .singleview_img_section img.shown {
                display: initial;
            }


/* OUR WORLD */

/* singleview */

.article_close_button {
    position: absolute;
    right: 2rem;
    padding: 2rem 2rem 0 0;
}

.article_singleview_title {
    text-align: center;
    padding: 2.5vh 0;
}

.article_singleview_content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    text-align: justify;
}

    .wp-block-image {
        margin: 0;
    }

/* FOOTER */

footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2.5vh;
}

    #footer_wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    #newsletter_wrapper {

    }

        #newsletter_content {

        }

    #social_wrapper {
        display: flex;
        justify-content: center;
    }

        .icons {
            width: 5vw;
            padding: 2.5vw;
        }

            .icons:hover {
                cursor: pointer;
            }


/* MEDIA QUERIES */

/* front page + general */

/* Small devices (phones and tablets in portrait, 768px and down) */
@media only screen and (max-width: 768px) {
    
    .logo {
        
    }
    
    .frontpage_box {
        width: 100vw;
        height: 100vh;
        margin: 2vh 0 2vh 0;
    }
    
    .icons {   
        width: 10vw;
        padding: 5vw 2.5vw;
    }
} 

/* Medium to large devices (tablets and computers, 768px and up) */
@media only screen and (min-width: 768px) {
    .icons {   
        width: 5vw;
        padding: 5vw 2.5vw;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .icons {   
        width: 2.5vw;
        padding: 5vw 1.25vw;
    }
}


/* collection */

/* Small devices (phones and tablets in portrait, 768px and down) */
@media only screen and (max-width: 768px) {
    
    .filter_children {
        flex-wrap: wrap;
    }
    
    .singleview_product_box {
        width: 90vw;
        height: 100vh;
    }
    
    .singleview_img_section {
        width: 60vw;
    }
    
    .close_button {
        right: 1rem;
        top: 1rem;
        padding: 1rem 0;
    }
    
    #display_previous, #display_next {
        margin: 15vh 1.5vw;
    }
    
}

/* Medium to large devices (tablets and computers, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .content {
        display: flex;
        flex-wrap: wrap;
    }
    
    .product_box {
        flex-basis: 40vw;
        margin: auto;
    }
    
    .singleview_img_section {
        width: 50vw;
        max-height: 60vh;
        overflow: hidden;
    }
    
    #display_previous, #display_next {
        margin: 18vh 2.5vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
    .product_box {
        flex-basis: 20vw;
    }
    
    .singleview_img_section {
        width: 25vw;
    }
    
    #display_previous, #display_next {
        margin: 25vh 2.5vw;
    }
}


/* our world */

/* Small devices (phones and tablets in portrait, 768px and down) */
@media only screen and (max-width: 768px) {
    
    .article_cta_box {
        width: 100vw;
        height: 100vh;
        margin: 2vh 0 2vh 0;
    }
    
    .article_singleview_title {
        padding-top: 12.5vh;
    }
    
    .article_singleview_content {
        width: 90vw;
    }
    
    .article_close_button {
    right: 1rem;
    padding: 2rem 0 0;
}
}

/* Medium to large devices (tablets and computers, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
