/* CSS */

@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

@font-face {
  font-family: 'FUCXEDCAPSLatin-Regular';
  src: url('https://natachajay.dk/kea/3-semester/eksamen/media/fonts/FUCXEDCAPSLatin-Regular.woff');
  src: url('https://natachajay.dk/kea/3-semester/eksamen/media/fonts/FUCXEDCAPSLatin-Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
  url('https://natachajay.dk/kea/3-semester/eksamen/media/fonts/FUCXEDCAPSLatin-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('https://natachajay.dk/kea/3-semester/eksamen/media/fonts/FUCXEDCAPSLatin-Regular.woff') format('woff'), /* Pretty Modern Browsers */
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: F3F4F5;
}

h1, h2, h3 {
  font-family: 'FUCXEDCAPSLatin-Regular', sans-serif;
}

header > nav > a {
  font-family: 'FUCXEDCAPSLatin-Regular', sans-serif;
}

h1, h2 {
  text-align: center;
  margin: 5vh 0;
}

p {
  font-family: 'Noto Serif', serif;
  font-style: normal;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  height: 5vh;
}

header, footer {
  display: flex;
  flex-direction: column;
  background-color: #34373E;
  min-height: 5vh;
}

  #logo_header {
    margin-right: 1vw;
  }

  header > nav {
    display: flex;
    align-self: center;
    font-size: 2vh;
  }

  header > nav > a {
    margin: 1vw;
  }

  header > nav > a:hover {
    background-color: green;
  }

#hero_section > iframe {
  height: 80vh;
  width: 100%;
  z-index: 99;
}

.block {
  display: flex;
  flex-direction: column;
}

.block_inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.block_content {
  margin: 1vh 1vw;
  width: 50%;
}

#infographic_section, #video_section, #demand_section, #join_section {
  width: 75vw;
  margin: auto;
}

#video_section > iframe {
  width: 100%;
  height: 40vw;
}

#demand_section {
  display: flex;
  flex-direction: column;
}

#subscribe_section > h1 > a {
  color: black;
}

#subscribe_section > h1 > a:hover {
  background-color: green;
  padding: 1vw;
  font-weight: 100;
  color: white;
}

footer {
  color: white;
}

  .footer_top, .footer_bottom {
    display: flex;
    flex-direction: row;
    padding: 1vh 0;
  }

  .footer_right, .footer_left, .footer_middle {
    margin: auto;
  }

  .footer_right {
    display: flex;
    flex-direction: row;
    padding: 0 1vw;
  }

    .icon {
      height: 3vh;
      margin: 0 0.5vw;
    }

  .footer_left {
    padding: 0 1vw;
  }

  #logo_footer {
    margin: auto;
  }

  .footer_bottom {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.8em;
    margin: auto;
    width: 80vw;
  }

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: portrait) {

  .block_inner {
    flex-wrap: wrap;
  }

    .block_content {
      width: 100%;
      text-align: justify;
    }

    .charts {
      width: 100%;
    }

  .demands {
    text-align: justify;
  }

  .logo {
    height: 5vh;
  }

  .chart_
}

@media screen and (max-width: 812px) and (orientation: landscape) {

}

@media screen and (min-width: 768) and (max-width: 834px) and (orientation: portrait) {

  .block_inner {
  flex-direction: column;
  }

  .block_content {
  width: 100%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1112px) and (orientation: landscape) {

}

@media screen and (min-width: 1200px) {

}
