/* GENERAL */

.left {
    float: left;
}

.right {
    float: right;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.menu a:hover {
    text-decoration: underline;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 50px;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
}

.column {
    flex: 1 1 0;
}

.content {
    background-color: white;
    padding: 10px;
    height: 100%;
}

@media screen and (max-width: 900px) {
.column {
    flex-basis: 45vw;
  }
}

@media screen and (max-width: 600px) {
  .column {
      flex-basis: 100vw;
  }
}

/* FRONT PAGE */

.front_page_cover {
    margin: 25px;
}

/* OVERLAY */

.assignment_wrapper {
    position: relative;
}

    .assignment_wrapper:hover .overlay {
        opacity: 0.5;
    }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #49454D;
}

    .album_text {
        color: white;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .album_text:hover {
            text-decoration: underline;
        }

