body {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    text-align: center;
}

h2,
h3 {
    margin: 1vw 0 1vw 0;
    padding: 0;
}

nav {
    text-align: center;
}

    .valgt {
        color: red;
    }

img {
    width: 100%;
}

#liste {
    display: grid;
    grid-template-columns: repeat(4, 10fr);
}

    /* Smartphones (portrait and landscape) */
    @media only screen and (max-width: 400px) {
        #liste {
            grid-template-columns: 100fr;
        }
    }

    /* iPads (portrait and landscape) */
    @media only screen and (min-width: 401px) and (max-width: 1024px) {
        #liste {
            grid-template-columns: repeat(2, 10fr);
        }
    }

    /* Desktops and laptops */
    @media only screen  and (min-width: 1025px) {
        #liste {
            grid-template-columns: repeat(4, 10fr);
        }
    }

    /* Large screens */
    @media only screen  and (min-width: 1824px) {
        #liste {
            grid-template-columns: repeat(5, 10fr);
        }
    }

.ret {
    margin: 1vw;
    background-color: #f2f2f2;
}

p {
    margin: 1vw 0 1vw 0;
}

#popup {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(1, 1, 1, 0.8);
    background-size: cover;
    display: none;
}

    #content {
        min-height: 50vh;
        background-color: white;
        width: 70vw;
        margin: auto;
    }

    #close {
        position: fixed;
        right: 2rem;
        padding-right: 2rem;
    }

    #close button {
        font-size: 2rem;
        color: white;
        padding: 1rem 2rem;
        background: none;
        border: none;
    }