@charset "UTF-8";
/* CSS Document */

/* ALBUMS */

#slideshow_wrapper {
	display: flex;
	flex-direction: row;
	padding: 10vh 0 1vh 10vh;
}

	#big_active {
		width: 50vw;
		margin: 1vw;
	}

	#album_slide_wrapper {
		display: flex;
		flex-direction: row;
	}

		.album_slide {
			margin: 1vw;
		}

/* INFO BOX */
.info_wrapper {
	margin: 1vw;
	padding-left: 10vw;
}