@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Montserrat', 'Open Sans', 'sans serif';
	margin: 0;
}

/* Sliding cards */
.thisisadiv {
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 25px 2px rgba(0,0,0,0.2);
	top: 0;
	box-sizing: border-box;
}

/* Menu */
#menu {
	position: fixed;
	z-index: 9999;
	width: 100%;
	text-align: right;
	font-family: 'Montserrat', 'sans serif';
	font-size: 1em;
	padding-top: 25px;
	padding-right: 25px;
}

		.menuitems {
			color: white;
			padding: 0 25px 0 25px;
		}

		.menuitems:link {
			text-decoration: none;
		}

		.menuitems:visited {
			text-decoration: none;
		}

		.menuitems:hover {
			text-decoration: underline;
		}

		.menuitems:active {
			text-decoration: none;
		}

/* Individual page content */

/* Landing page */
/*
#content1 {
	text-align: left;
	padding-left: 50px;
}

		#content1_1 {
			text-align: left;
			padding-left: 50px;
			font-size: 1em;
		}
*/

/* Portfolio page */
#content2 {
	text-align: right;
	padding-right: 50px;
}

		#content2_1 {
			text-align: right;
			padding-right: 50px;
		}

#wrapper_portfolio {
	display: flex;
	justify-content: space-evenly;
	padding: 100px 0 0 0;
}
	.wrapper_albums {
		position: relative;
		width: auto;

	}
	
	.wrapper_albums:hover .overlay {
			opacity: 0.5;
	}

		.albums {
			width: 300px;
			height: 175px;
			background-color: white;
		}

			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: .5s ease;
				background-color: #8D5A57;
				user-select: none;
			}

			.album_text {
				color: white;
				font-size: 20px;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
			}

/* About page */
#content3 {
	text-align: left;
	padding-left: 50px;
}

/* Booking page */
#content4 {
	text-align: right;
	padding-right: 50px;
}

/* Spare page */
#content5 {
	text-align: left;
	padding-left: 50px;
}

/* General page content (sorted by position on page) */
.content {
	padding-top: 150px;
	color: white;
	font-size: 2em;
}

.content_low {
	color: white;
	font-size: 1em;
	font-family: 'Open Sans', 'Calibri';
}