@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Montserrat', 'Open Sans', 'sans serif';
	margin: 0;
}

/* Sliding cards */
.thisisadiv {
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.2);
	top: 0;
	box-sizing: border-box;
	padding: 0 75px;
}

/* Menu */
#menu {
	position: fixed;
	z-index: 9999;
	width: 100%;
	text-align: right;
	font-family: 'Montserrat', 'sans serif';
	font-size: 1em;
	margin-top: 25px;
}

		.menuitems {
			color: black;
			padding: 0 50px 0 0;
		}

		.menuitems:last-child {
			padding: 0 75px 0 0;
		}

		.menuitems:link {
			text-decoration: none;
		}

		.menuitems:visited {
			text-decoration: none;
		}

		.menuitems:hover {
			text-decoration: underline;
		}

		.menuitems:active {
			text-decoration: none;
		}

/* Individual page content */



/* Portfolio page */
.content_right {
	text-align: right;
}

#wrapper_portfolio {
	display: flex;
	justify-content: space-between;
	padding: 100px 0 0 0;
}

	.wrapper_albums {
		position: relative;
		width: 350px;
		height: 197px;
	}
	
	.wrapper_albums:hover .overlay {
			opacity: 0.5;
	}

		.albums {
			width: 100%;
			height: 100%;
			background-color: white;
		}
			.hexagon {
			  position: relative;
			  width: 300px; 
			  height: 173.21px;
			  margin: 86.60px 0;
			  background-size: auto 346.4102px;
			  background-position: center;
			}

				.hexagon_left {
					background-image: url(https://scontent-ams3-1.cdninstagram.com/vp/74854557de5e45e891c6f05457c9be97/5BA45D1E/t51.2885-15/e35/21434219_833895463446814_2423833968517316608_n.jpg);
				}

				.hexagon_mid {
					background-image: url(https://scontent-ams3-1.cdninstagram.com/vp/516715c95f118da9879ac140a1a86a2a/5BA80B85/t51.2885-15/e35/21433424_1883707611948529_1677762269045325824_n.jpg);
				}

				.hexagon_right {
					background-image: url(https://scontent-ams3-1.cdninstagram.com/vp/0e55841a6c73c8287e85e34352a5323b/5BC0AC2D/t51.2885-15/e35/21041027_1476395095810128_554707782331269120_n.jpg);
				}

			.hexTop,
			.hexBottom {
			  position: absolute;
			  z-index: 1;
			  width: 212.13px;
			  height: 212.13px;
			  overflow: hidden;
			  -webkit-transform: scaleY(0.5774) rotate(-45deg);
			  -ms-transform: scaleY(0.5774) rotate(-45deg);
			  transform: scaleY(0.5774) rotate(-45deg);
			  background: inherit;
			  left: 43.93px;
			}

			/*counter transform the bg image on the caps*/
			.hexTop:after,
			.hexBottom:after {
			  content: "";
			  position: absolute;
			  width: 300.0000px;
			  height: 173.20508075688775px;
			  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
			  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
			  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
			  -webkit-transform-origin: 0 0;
			  -ms-transform-origin: 0 0;
			  transform-origin: 0 0;
			  background: inherit;
			}

			.hexTop {
			  top: -106.0660px;
			}

			.hexTop:after {
			  background-position: center top;
			}

			.hexBottom {
			  bottom: -106.0660px;
			}

			.hexBottom:after {
			  background-position: center bottom;
			}

			.hexagon:after {
			  content: "";
			  position: absolute;
			  top: 0.0000px;
			  left: 0;
			  width: 300.0000px;
			  height: 173.2051px;
			  z-index: 2;
			  background: inherit;
			}

			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: .5s ease;
				background-color: #8D5A57;
			}

			.album_text {
				color: white;
				font-size: 20px;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

/* General page content (sorted by position on page) */
.content {
	padding-top: 150px;
	color: black;
	font-size: 2em;
}

.content_low {
	color: black;
	font-size: 1em;
	font-family: 'Open Sans', 'Calibri';
}