@charset "UTF-8";
/* CSS Document */

/* OVERALL */

body {
    font-family: 'Open Sans', sans-serif;
	margin: 0;
    overflow-x: hidden;
}

    img {
        width: 100%;
    }

    .headings {
        margin: 25vh 10vw 0 10vw;
        color: #49454D;
        font-family: 'Amiri', serif;
        font-size: 2em;
        font-weight: 600;
}

    .content_right {
        text-align: right;
    }

    .content_left {
        text-align: left;
    }

    .content_center {
        text-align: center;
    }

    .hidden {
        display: none;
    }

    .sectionwrapper {
        background-color: white;
        width: 100%;
        top: 0;
        box-sizing: border-box;
    }

#up_button {
    height: 5vh;
    width: 5vh;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    cursor: pointer;
}

/* MENUS */

.menu_main {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 85vh;
    width: 25%;
    max-width: 250px;
    border: solid white 1px;
    text-align: center;
    padding: 2.5vh 2.5vw;
    background-color: rgba(0, 26, 31, 0.80);
}

@media only screen and (max-width: 769px) {
    .menu_main {
        width: 75%;
        top: 80vh;
    }
}

	.menu_items {
		font-family: 'Open Sans', serif;
        font-size: 1em;
		font-weight: 500;
		color: white;
		text-shadow: 0px 1px 5px #49454D;
        margin: 0 2.5vw;
	}
		.menu_items:link {
			text-decoration: none;
		}

		.menu_items:visited {
			text-decoration: none;
		}

		.menu_items:active {
			text-decoration: underline;
		}

.menu_filtering {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

    .menu_filtering_item:hover {
        cursor: pointer;
    }

    .menu_filtering_item:active {
        text-decoration: underline;
    }

    .menu_filtering_item.active {
        text-decoration: underline;
    }


/* INDIVIDUAL PAGE CONTENT */

/* HERO */

#home {
    display: flex;
    justify-content: center;
	background-image: url(media/DSC04059.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(1, 1, 1, 0.3);
    width: 100%;
    height: 100vh;
}

.logo_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

    .logo {
        height: calc(100vh /6);
     }

.socials_wrapper {
    display: flex;
    width: 15vw;
    margin: 60vh 0;
}

    .icons {
        z-index: 1;
        margin: 0 .5vw;
        width: 100%;
        max-height: 5vh;
        cursor: pointer;
    }

    @media only screen and (max-width: 500px) {
        .socials_wrapper {
            width: 32.5vw;
        }

            .icons {
                margin: 1vw;
            }
    }

    @media only screen and (min-width: 501px) and (max-width: 1000px) {
        .socials_wrapper {
            width: 25vw;
        }

            .icons {
                margin: 1vw;
            }
    }

    @media only screen and (min-width: 1001px) {
        .socials_wrapper {
            width: 10vw;
        }
    }

/* PORTFOLIO */

#portfolio {
    min-height: 100vh;
}

#content_portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.grid_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .grid_box {
        flex-basis: 25vw;
        height: 25vw;
        background-position: center;
        background-size: cover;
    }

        @media only screen and (max-width: 500px) {
            .grid_box {
                flex-basis: 50vw;
                height: 50vw;
            }
        }

        @media only screen and (max-width: 900px) and (min-width: 501px) {
            .grid_box {
                flex-basis: 33vw;
                height: 33vw;
            }
        }

/* SINGLEVIEW */

.buttons {
    margin: 0;
    padding: 0;
}

.close_button {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

#display_previous, #display_next {
    margin: 35vh;
}

.singleview_sectionwrapper {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(1, 1, 1, 0.9);
    background-size: cover;
}

    .singleview_project_box {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 8vh;
        width: 100vw;
        color: white;
        text-align: center;
    }

    .singleview_project_box > h3 {
        color: white;
    }

        .singleview_img_sectionwrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

            .singleview_img_section {
                width: 55vw;
                overflow: hidden;
            }
                .singleview_img_section img {
                    display: none;
                }

                .singleview_img_section img.shown {
                    display: initial;
                }

/* FOOTER */

footer {
    font-size: 0.85em;
	text-align: center;
    margin: 5vh 0;
}

    #footer_tiny {
        font-size: 0.8em;
    }