@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Montserrat', 'Open Sans', 'sans serif';
	margin: 0;
}

/* Sliding cards */
.thisisadiv {
    background-color: white;
    width: 100%;
	height: 1000px;
    box-shadow: 0px 5px 30px 5px rgba(0,0,0,0.2);
	top: 0;
	box-sizing: border-box;
	padding: 0 75px;
}

/* Menu */
#menu {
	position: fixed;
	z-index: 9999;
	width: 100%;
	text-align: right;
	font-family: 'Montserrat', 'sans serif';
	font-size: 1em;
	margin-top: 25px;
}

	.menuitems {
		color: #49454D;
		padding: 0 50px 0 0;
	}

		.menuitems:last-child {
			padding: 0 75px 0 0;
		}

		.menuitems:link {
			text-decoration: none;
		}

		.menuitems:visited {
			text-decoration: none;
		}

		.menuitems:hover {
			text-decoration: underline;
		}

		.menuitems:active {
			text-decoration: none;
		}

/* Individual page content */


/* Portfolio page */

#wrapper_portfolio {
	display: flex;
	justify-content: space-evenly ;
	flex-flow: wrap;
	padding: 25px 0 0 0;
}

	.wrapper_albums {
		position: relative;
		max-width: 350px;
		min-height: 197px;
		margin: 10px;
	}
	
		.wrapper_albums:hover .overlay {
				opacity: 0.5;
		}

		.albums {
			background-color: white;
			max-width: 100%;
		}
		
		#album_03, #album_05 {
			width: 350px;
			height: 197px;
		}

			.overlay {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				max-height: 197px;
				max-width: 100%;
				opacity: 0;
				transition: .5s ease;
				background-color: #A4C9CA;
			}

			.album_text {
				color: white;
				font-size: 20px;
				position: absolute;
				top: 50%;
				left: 50%;
				-ms-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				text-align: center;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

/* General page content (sorted by position on page) */
.content_high {
	padding-top: 150px;
	color: #49454D;
	font-size: 2em;
	font-weight: bold;
}

.content_low {
	padding-top: 25px;
	color: black;
	font-size: 1em;
	font-family: 'Open Sans', 'Calibri';
}


.content_right {
	text-align: right;
}

footer {
	text-align: center;
}